#container { 
		position: static;
	 	background: aqua;
	  	margin:  auto; 
	  	text-align: justify;
	   	width: 900px;
	    }
			
.header{
	background-image: url("bg.jpg");
	border-top: 15px solid yellow;
	border-left: 15px solid white;
	border-right: 15px solid white;
	margin-top: -10px;
	border-bottom: 15px solid red;
	height:190px;
	background-repeat: repeat;
}
.contentbody{
		position: static;
		text-align: justify;
	   	width: 600px;		
		margin-top: -21px;
		margin-bottom: -22px;
		background: white;
}

.contentbody p{
	color: brown;
	padding: 10px 30px 10px 20px;
	line-height: 30px;
	text-align: justify;
	font: sans-serif;
}

.contentbody >h1{
	color: brown;
	padding: 10px 30px 10px 20px;
	text-align: justify;
	font: sans-serif;
}
h1 span, h2{
	padding: 40px;
	text-align: justify;
	font: sans-serif;
}
body{
	background: url("bkg.jpg");
}

.menu { 
	 width: 200px;
	 position: absolute; 
	 top: 210px;
	 right: 280px;
}

.menu ul { 
	margin: 0;
	padding: 0;
}

.menu li {
	 display: block; 
	 padding: 8px 0px 7px 12px;
	 line-height: 180%;
 	 border-bottom: 2px solid #FFF; 
}

li a { 
	font: italic 100% algerian;
	color: green;
	display: block;
}

footer p{
	  	margin:  auto;
		padding: 5px;
		text-align: center;
	   	width: 890px;		
		background: greenyellow;
		color: white;
}